SJK_Project(1-5)_24523238.json
{
  "name": "SJK_Project(1-5)_24523238",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask-openai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -928,
        -192
      ],
      "id": "a983ad55-9340-4f33-9a6a-9f00f98da9ad",
      "name": "Webhook",
      "webhookId": "f7328a5c-ceeb-43df-aa3b-e4eccfde9527"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"answer\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        -208
      ],
      "id": "f4554da8-9012-4124-9454-f090ce75c45c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.text || $json.body?.question }}",
        "options": {
          "systemMessage": "Anda WAJIB menggunakan tool Pinecone untuk membantu menjawab.\nJika tool tidak mengembalikan informasi, jawab: \"Data tidak ditemukan di knowledge base\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -464,
        -192
      ],
      "id": "185fc0df-cf43-40d4-a473-df4132a97a07",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -464,
        16
      ],
      "id": "6a097592-b5f3-4532-9e4d-7475049cf8d3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Pjjk4Ll6SVs4RpiZ",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Anda WAJIB menggunakan tool Pinecone untuk menjawab.\nJika tool tidak mengembalikan informasi, jawab: \"Data tidak ditemukan di knowledge base\".",
        "pineconeIndex": {
          "__rl": true,
          "value": "index-fix",
          "mode": "list",
          "cachedResultName": "index-fix"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -288,
        64
      ],
      "id": "e9c9d9f3-fdbe-4e21-9719-6b04e3a1d685",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ZURfYsR7kpXsNkXs",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -192,
        272
      ],
      "id": "a7bae4fc-7fe3-435a-976b-8980a5ad52d1",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "AIckC0YbbJErJGah",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "1094c18e-c942-4381-b4bb-c757188e0a29",
      "name": "Get Docs",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -592,
        528
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WhwHg0fi8yGksSwS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1gD-qNGA-LinBWRJOkFK4I11cl11DlxEp",
          "mode": "list",
          "cachedResultName": "DB Pinnecone",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gD-qNGA-LinBWRJOkFK4I11cl11DlxEp"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "7e49f3ce-7a16-436e-b1e3-1eac3ce20539",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -1184,
        544
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WhwHg0fi8yGksSwS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -80,
        768
      ],
      "id": "1ad3248e-b0b2-430d-905f-b0a41601a4d1",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 600,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "ce04d713-2cf1-4052-88bb-a1fe9c747238",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -80,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -912,
        544
      ],
      "id": "792080d4-55d0-4b45-9b4b-2634352dbe16",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "index-fix",
          "mode": "list",
          "cachedResultName": "index-fix"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -384,
        528
      ],
      "id": "38cf6f3a-ca53-440e-a181-3e669a7d92db",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "ZURfYsR7kpXsNkXs",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -384,
        752
      ],
      "id": "ecca5315-d1b3-4ee7-9049-bca3785c4d6b",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "AIckC0YbbJErJGah",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        0
      ],
      "id": "53194211-4cb2-4339-87a0-18abf76e19db",
      "name": "Telegram Trigger",
      "webhookId": "a336dfe8-3846-419e-ba41-08c56ffd3b1a",
      "credentials": {
        "telegramApi": {
          "id": "3mFQKXxSwcNM3ZxN",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        -16
      ],
      "id": "1b2a6307-fb33-4c6c-8ebc-475ff2ba63ef",
      "name": "Send a text message",
      "webhookId": "8799ddd6-cd7c-47e9-affa-f6eff86a8611",
      "credentials": {
        "telegramApi": {
          "id": "3mFQKXxSwcNM3ZxN",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2e48cc6-02d1-4a6c-b2d4-ef0b445c1db7",
              "leftValue": "={{ $('Webhook').isExecuted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        -192
      ],
      "id": "b8b1d9dd-db43-4c23-9fcd-d0e540cf71f9",
      "name": "If"
    },
    {
      "parameters": {
        "content": "Ambil data dari g-drive untuk pinnecone",
        "height": 672,
        "width": 1456
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        448
      ],
      "typeVersion": 1,
      "id": "4d727e34-f7eb-4838-ab5d-a1c288923966",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get Docs": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d497d91-ac6f-4c81-9a0e-d5b94ed39c40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44973e0a232a053f85fb8566be5f01ab1c15438c9921c274dd9fc370901ff0e9"
  },
  "id": "kUEyqyukwDuWonzc",
  "tags": []
}